* {
	box-sizing: border-box;
}
body {
	margin-top: 50px;
}
main {
/*	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: solid grey 2px;
	background-color: #1E90FF;
	color: #FFF;*/
	width:50%;
	margin:auto;
	padding: 0 25px 40px 10px;
	background-color: #1E90FF;
	border:4px solid #B0E0E6;
	border-radius:5px;
	color: #FFFFFF;
	font-weight: bold;
	box-shadow: 5px 5px 5px #888;
}

p {
	max-width: 400px;
}

.button-placement{
	position: relative;
	bottom:10px;
	float:right;
}
.button-placement:hover{
	cursor:pointer;
}
